# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log

# Large datasets
dataset/facebook_combined.txt

# Temporary files
*.tmp
*.temp